Original query:
{{ query }}

Translation to {{ language }}:
{{ translation }}

Tell me if the translation is correct. Acronyms shouldn't be changed.
Follow the following json schema.
{
    "reasoning": str,
    "is_correct": bool, # True if the translation is correct, False otherwise.
}