{{ original_language }} text to translate:
{{ text }}

Translate the English text above to {{ language }}.
Make sure you follow the format of the English text. Don't change acronyms.
Follow the following json schema. Make sure you fill the translation with the right language.
{{ json_schema }}