Original query:
{{ query }}

Original Translation to {{ language }}:
{{ translation }}

Correct the translation to {{ language }} if you think it is not correct. Don't translate acronyms. Translate at least one word. Make sure you don't change the meaning of the original query.
Follow the following json schema.
{{ json_schema }}