<definitions>
- An open-ended query is an explanatory or descriptive query that synthesizes  information; may be broad in scope and focused on qualitative aspects of the summary
- A compare-contrast query is a query that requires comparing and/or contrasting multiple entities or topics that are closely related to each other
- An enumerative query is a query that asks to list all examples that possess a common property, optionally requesting details about the specifics of each example.
- A numerical query is a query that asks for a specific number or calculated number given a summary. The query should require more than simply reading numbers directly from the page.
- A boolean query is a yes/no query that may involve multiple steps of reasoning.
- An extractive query is a clear and specific query that can be answered using only a specific piece of information.
- A multi-hop query is a complex query that requires retrieving and integrating information from multiple sources or steps to produce a complete answer.
</definitions>
<summary>
{{ summary }}
</summary>
<query_type>
{{ query_type }}
</query_type>
<query>
{{ query }}
</query>
# Is the <query> following the <query_type>?